node_modules/
.next/
out/
build/
.DS_Store
*.pem
*.key
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.next.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

eslintcache
.eslintcache
.vercel
.wrangler
dist/